:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}
:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--slate);
  background-color: var(--white);
}

/*---------- header ----------*/

.header {
  background-color: var(--white);
}
.nav-section {
}
.nav-logo,
.footer-logo {
  font-family: var(--second-family);
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.nav-logo-web {
  color: var(--navy-blue);
}
.nav-list {
  list-style: none;
}
.nav-list-item {
}
.nav-list-item-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--navy-blue);
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
  color: var(--ocean);
}

.address {
  font-style: normal;
}
.address-list {
  list-style: none;
}
.address-list-item {
}
.address-list-item-link {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
}

.address-list-item-link:hover,
.address-list-item-link:focus {
  color: var(--ocean);
}

/*---------- hero ----------*/

.hero-section {
  background-color: var(--navy-blue);
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}
.hero-btn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
  color: var(--white);
  background-color: var(--iris);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}

/*---------- advantages ----------*/

.advan-section {
}
.advan-title {
}
.advan-list {
  list-style: none;
}
.advan-list-item {
}
.advan-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.advan-list-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*---------- Our team ----------*/

.team-section {
  background-color: var(--cloud);
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.team-list {
  list-style: none;
}
.team-list-item {
  background-color: var(--white);
}
.team-list-item-img {
}
.team-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.team-list-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*---------- portfolio ----------*/

.portfolio-section {
}
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
}
.portfolio-list {
  list-style: none;
}
.portfolio-list-item {
}
.portfolio-list-item-img {
}
.portfolio-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.portfolio-list-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*---------- footer ----------*/

.footer {
  background-color: var(--navy-blue);
}

.footer-logo-web {
  color: var(--cloud);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
